@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #3e086d;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #a38293;
    /*background-image: linear-gradient(to right, #8E2DE2, #493240 )*/
}

a, a:hover {
  text-decoration: none;
  color: unset;
}